@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.form
{
    margin-left: 10%;
    width: 40%;
    float:left;
}
.form input, select
{
    margin-left: 5%;
    width: 50%;
    float: left;
}
.form button
{
    margin-left: 5%;
    width: 50%;
    float: left;
}

.cabinet_menu
{
    margin-left: 10%;
    width: 20%;
    float: left;
}
.cabinet_menu_punkt
{
    font-size: 20px;
    height:60px;
    padding-top: 10px;
    padding-left: 10%;
    margin-top: 5px;

    color: white;
    background-color:#2b6684;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:250px;
    font-size: 25px;
    font-family: "Open Sans";
}