@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@media (max-width: 600px) {


    .main_menu {

        background-color: #2b6684;
        height: 40px;
        width: 100%;
        padding-left: 10%;
        margin-bottom:0px;
        padding-top: 5px;


    }

    .main_punkt {
        display: inline;
        margin-right: 50px;
        font-weight: bold;
        color: white;
        font-size: 25px;
        font-family: "Open Sans";
    }

    .main_punkt a {
        text-decoration: none;
        color: white;
    }

    .name {

        height: 40px;
        color: #06266f;
        font-size: 20px;
        font-weight: bold;
        font-family: "Open Sans";
        padding-left: 15%;
    }

    .cours_list {
        margin-top: 20px;
        margin-left: 5%;
        width: 90%;
        margin-bottom: 50px;
        float: left;

    }

    .cours {
        width: 280px;
        height: 150px;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
        border-radius: 5px;
        float: left;
        background-color: white;
    }

    .cours img {
        margin-top: 10px;
        width: 100px;
        height: 100px;
        float: left;
    }

    .cours_list a {
        text-decoration: none;
        color: black;

    }

    .main_name {
        width: 90%;
        height: 30px;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: bold;
        color: white;
        background: linear-gradient(to right, #2b6684, white);
        padding: 5px;
        padding-left: 20px;
        margin: 10px;
    }

    .cours_name {
        height: 50px;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: bold;
        color: #012e67;
    }

    .cours_description {
        margin-top: 25px;
        margin-left: 120px;
        height: 50px;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: bold;
        color: #012e67;
    }
    .name_cours {

        height: 40px;
        color: #06266f;
        font-size: 20px;
        font-weight: bold;
        font-family: "Open Sans";
        padding-left: 10%;
    }
}