@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@media (max-width: 600px) {
    .repeat_menu {

        float: left;
        width:80%;

    }

    .repeat_menu_punkt {

        font-size: 20px;
        margin-left: 40px;
        height: 120px;
        padding-top: 10px;
        padding-left: 10px;
        margin-top: 5px;

        background-color: white;
        box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
        width:100%;

        color: #2b6684;
        font-family: "Open Sans";

    }

    .repeat_menu_punkt img {
        width: 100px;
        float: left;
    }

    .repeat_menu_punkt_name {
        font-size: 20px;
        font-weight: 900;
        color: #2b6684;
        font-family: "Open Sans";
    }

}