@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

.chapter_list_show
{
    margin-left:10%;

    margin-bottom:50px;
    float:left;

}
.chapter_list_show .chapter_show
{
    font-size: 20px;
    height:60px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;

    color: white;
    background-color:#2b6684;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:250px;
    font-family: "Open Sans";
}
.chapter_list_show .chapter_show .chapter_name_show
{

    float:left;

}
.chapter_list_show a
{
    text-decoration:none;
    color:#2b6684;
    font-family: "Open Sans";
}
.chapter_list_show_show .chapter button_show
{
    float:left;

}

.chapter_list_show .article_show
{
    font-size: 20px;
    margin-left:40px;
    height:60px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;

    background-color: white;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:250px;
}
.repeat_menu{

    float:left;
    width:20%;

    position: relative;

}
.repeat_menu_punkt{

    font-size: 20px;
    margin-left:40px;
    height:120px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;

    background-color: white;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:400px;

    color:#2b6684;
    font-family: "Open Sans";
}
.repeat_menu_punkt img
{
    width:100px;
    float:left;
}
.repeat_menu_punkt_name
{
    font-size:20px;
    font-weight:900;
    color:#2b6684;
    font-family: "Open Sans";
}
.cours_list_cab
{
    margin-top:20px;

    width: 60%;
    margin-bottom:50px;
    float:left;

}
.cours_cab
{
    width: 250px;
    height: 120px;
    margin-left:30px;
    margin-bottom:20px;
    padding:20px;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    border-radius: 5px;
    float:left;
    background-color:white;
    text-decoration:none;
    color:#2b6684;
    font-family: "Open Sans";
    font-size:20px;
    font-weight:900;
}
.cours_cab img
{
    margin-top:25px;
    width:100px;
    height:100px;
    float:left;
}