@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html {

    background-image: url("https://lern.tiwy.ru/books.jpg");

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}
.main_menu{

    background-color:#2b6684;
    height: 50px;
    width:100%;
    padding-left:10%;

    padding-top:10px;


}
.main_punkt
{
    display: inline;
    margin-right: 50px;
    font-weight:bold;
    color:white;
    font-size: 35px;
    font-family: "Open Sans";
}
.main_punkt a
{
    text-decoration:none;
    color:white;
}
.name
{

    height: 70px;
    color: #06266f;
    font-size: 40px;
    font-weight:bold;
    font-family: "Open Sans";
    padding-left:10%;
}
.form
{
    margin-left: 10%;
    width: 40%;
    float:left;
}
.form_cors_redact
{
    margin-top:50px;

    width: 40%;
    margin-left:25%;
}
.form input, select
{
    margin-left: 5%;
    width: 50%;
    float: left;
}
.form button
{
    margin-left: 5%;
    width: 50%;
    float: left;
}
.cabinet_menu
{
    margin-left: 10%;
    width: 20%;
    float: left;
}
.cabinet_menu_punkt
{
    font-size: 20px;
    height:60px;
    padding-top: 10px;
    padding-left: 10%;
    margin-top: 5px;

    color: white;
    background-color:#2b6684;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:250px;
    font-size: 25px;
    font-family: "Open Sans";
}

.cours_list
{
    margin-top:20px;
    margin-left:10%;
    width: 80%;
    margin-bottom:50px;
    float:left;

}
.cours
{
    width: 350px;
    height: 200px;
    margin-left:30px;
    margin-bottom:20px;
    padding:20px;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    border-radius: 5px;
    float:left;
    background-color:white;
}

.cours img
{
    margin-top:25px;
    width:100px;
    height:100px;
    float:left;
}
.cours_list a
{
    text-decoration: none;
    color:black;



}
.main_name
{
    width:30%;
    height:50px;
    font-family: "Open Sans";
    font-size:30px;
    font-weight:bold;
    color:white;
    background: linear-gradient(to right, #2b6684, white);
    padding:5px;
    padding-left:20px;
    margin:10px;
}
.cours_name
{
    height:50px;
    font-family: "Open Sans";
    font-size:25px;
    font-weight:bold;
    color:#012e67;
}
.cours_description
{
    margin-top:25px;
    margin-left:120px;
    height:50px;
    font-family: "Open Sans";
    font-size:15px;
    font-weight:bold;
    color:#012e67;
}
.seo_form
{
    margin-left:5%;
    width: 40%;
    float: left;
}
.seo_form div
{
    margin-top:10px;
    font-family: "Open Sans";
    font-size:20px;
    font-weight:bold;
    color:#012e67;
}
.name_seo_form
{

    width:30%;
}
.seo_form input
{
    height:40px;

    border: 2px solid #2b6684;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:300px;

}
.seo_form textarea
{
    height:80px;

    border: 2px solid #2b6684;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:300px;

}

.chapter_list
{
    margin-left:0%;
    width: 20%;
    margin-bottom:50px;
    float: left;
}
.chapter_list .chapter
{
    font-size: 20px;
    height:60px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;

    color: white;
    background-color:#2b6684;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:250px;

    font-family: "Open Sans";
    font-size:15px;
    font-weight:bold;

}
.chapter_list .chapter .chapter_name
{
    width:200px;
    float:left;
}
.chapter_list .chapter button
{
    float:left;

}

.chapter_list .article
{
    font-size: 20px;
    margin-left:40px;

    padding: 10px;
    padding-left: 10px;
    margin-top: 5px;

    background-color: white;
    box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    width:250px;

    color:#2b6684;
    font-family: "Open Sans";
    font-size:15px;
    font-weight:bold;
}
.card
{

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    font-family: Open Sans, Verdana, sans-serif;
}

.red h2
{
    border-bottom: 3px solid hsl(0, 78%, 62%);
}
.orange h2
{
    border-bottom: 3px solid hsl(34, 97%, 64%);
}
.cyan h2
{
    border-bottom: 3px solid hsl(180, 62%, 55%);
}
.blue h2
{
    border-bottom: 3px solid hsl(212, 86%, 64%);
}
.second
{
    margin-left: 60px;
}
.third
{
    margin-left: 120px;
}

